.box-big {
    $box-big: &;
    background: url(../images/big-box/bg-big_box.png);
    height: 330px;
    position: relative;

    &__wrap {
        position: absolute;
        top: 80px;
        left: 33%;
        width: 161px;
        height: 161px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f5f5f5;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

        #{$box-big}__name {
            font-family: 'Roboto', sans-serif;
            font-size: 17px;
            font-weight: 300; 
            color: #939393;
        }
    }
}